.DS_Store
.bsp
**/*.swp
data/.DS_Store
data/ml-100k
data/ml-25m
project/project
project/target
src/main/scala/project/
src/main/scala/target/
target/
logs/
project/metals.sbt
.metals/metals.lock.db
.gitignore
.vscode/settings.json
.gitignore
.gitignore
